<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Version 0.0.1</p>
  <p>
    Authors: Jiniku Hayashi, Vien Hang, Sophie Sjogren
  </p>
  <p>
    Created Fall of 2022 for Mobile Development taught by Pam Cutter for Kalamazoo College
  </p>
  
  

</ion-content>
<ion-footer>
<ion-button type="submit" color="danger" expand="block" routerLink="">
  Delete Account
</ion-button>
</ion-footer>
