<ion-header>
  <ion-toolbar>
    <ion-title>All about services</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    Type of plants our sitters support:
  </ion-card-content>
</ion-card>

<ion-item>
  Indoor tropical plants<br>
  Indoor trees and shrubs <br>
  Outdoor gardens <br>
  Fruit and veggie beds <br>
  Outdoor trees and shrubs <br>
  Outdoor tropical plants<br>
</ion-item>

<ion-card>
  <ion-card-content>
    Type of services:
  </ion-card-content>
</ion-card>

<ion-item>
  Boarding<br>
  Day care <br>
  Drop-In  <br>
</ion-item>



</ion-content>
